html,
body{
    height: 100%;
    margin: 0%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    padding: 0%;
    
   
}
.pimg3{
    background-image: url(image/img3.png);
    min-height: 100%;
    
}
.pimg2{
    background-image: url(image/img2.png);
    min-height: 400px;
    
}
.pimg1{
    background-image: url(image/img1.png);
    min-height: 400px;
    
}
.pimg3,
.pimg2,
.pimg1{
    
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}
.textbg{
    background:#313534;
    color: aliceblue;
    padding: 20px;
}
.sec{
    padding: 50px 80px;
    text-align: center;
}
.section-light{
    background-color: rgb(16, 2, 2);
    color: grey;

}
.section-dark{
    background-color: black;
    color: grey;
}
